body {
    margin: 0;
    padding: 0;
    width: 1440px;
    background-color: #674bb1;
    background-image: url('https://raw.githubusercontent.com/bianorcode/landing-page-con-unica-seccion-de-introduccin/5a61ab69b21631955ded4680aa1122652ceca270/images/bg-desktop.svg');
}